// src/styles/custom.scss
$font-family-base: 'Poppins',sans-serif;
$primary: #d38776; // Customize primary color
$border-radius: 0.5rem; // Customize border radius

// Import Bootstrap's source files
@import 'bootstrap/scss/bootstrap';