/* Global.css that loads site wide */
/* #main-content {
  margin-top: 100px;
} */
.main-page header {
  padding-top: 100px;
  height: 500px;
  background-color: #232128;
  color: #ffffff;
}
.sub-page header {
  padding-top: 100px;
  height: 200px;
  background-color: #232128;
  color: #ffffff;
}

/* Header styles */
.main-navbar nav a {
  color: #000000;
}
.main-navbar .navbar {
  height: 100px;
  background: #ffffff;
}
.navbar-brand {
  color: #000000;
}

#navbarNav > ul > li.nav-item.active > a {
  color: rgb(55, 88, 249) !important;
  font-weight: bold;
}

.main-navbar .nav-link:hover {
  color: rgb(55, 88, 249);
  text-decoration: underline;
}

.main-navbar #navbarNav ul li {
  margin-left: 2px;
}
/* ---------------------------------- */

/* Footer Styles */

footer {
  background: rgb(55, 88, 249);
  color: #ffffff;
}
.footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* ---------------------------------- */
