---
/**
 * InnerHero component - reusable hero banner
 */
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const { title = "Default Title" } = Astro.props;
---

<section class="innerhero-section">
  <div class="container mx-auto py-4 relative">
    <div class="row">
      <h1 class="text-white">{title}</h1>
      <div class="breadcrumbs-container">
        <Breadcrumbs linkTextFormat="capitalized" truncated={true}>
          <svg slot="index" aria-label="Home Page" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline points="9 22 9 12 15 12 15 22"></polyline> </svg>

          <svg slot="separator" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline> </svg>
        </Breadcrumbs>
      </div>
    </div>
  </div>
</section>

<style>
  .innerhero-section {
    background: rgb(55, 88, 249);
    text-align: left;
    color: #ffffff;
  }
  .innerhero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
</style>
